<div class="md-padding" layout="column">
  <h2 class="md-title">Newton</h2>
  <form name="paramsForm" ng-submit="newtonCtrl.calculate(paramsForm)">
    <md-input-container flex>
      <label>Function</label>
      <input required name="fn" ng-model="newtonCtrl.params.fn">
      <div ng-messages="paramsForm.fn.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
	<md-input-container flex>
      <label>Derived</label>
      <input required name="dr" ng-model="newtonCtrl.params.dr">
      <div ng-messages="paramsForm.dr.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <div layout="row">
      <md-input-container flex>
        <label>Value of a</label>
        <input required name="a" ng-model="newtonCtrl.params.a">
        <div ng-messages="paramsForm.a.$error">
          <div ng-message="required">a is required.</div>
        </div>
      </md-input-container flex>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label>Maximum itereations</label>
        <input ng-model="newtonCtrl.params.nmax">
        <div ng-messages="paramsForm.a.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Tolerance (optional)</label>
        <input ng-model="newtonCtrl.params.tol">
      </md-input-container>
	  <md-input-container flex>
        <label>Delta (optional)</label>
        <input ng-model="newtonCtrl.params.delta">
      </md-input-container>
    </div>
    <div layout="row" layout-wrap>
      <md-button class="md-raised md-primary" flex type="submit">
        Evaluate
      </md-button>
    </div>
  </form>
  <div layout="column" flex-sm="100" flex="33" layout-align="center center">
    <non-lineal-menu fn="newtonCtrl.params.fn">
  </div>
  <div ng-show="newtonCtrl.results.length > 0">
    <md-data-table-toolbar>
      <h2 class="md-title">Results</h2>
    </md-data-table-toolbar>
    <md-data-table-container>
      <table title="Results" md-data-table>
        <thead>
          <tr>
            <th numeric name="Iteration"></th>
            <th numeric name="x"></th>
            <th numeric name="f(x)"></th>
			<th numeric name="f'(x)"></th>
            <th numeric name="Error"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in newtonCtrl.results">
            <td>{{ $index + 1 }}</td>
            <td>{{ result.x }}</td>
            <td>{{ result.fx }}</td>
			<td>{{ result.fdr }}</td>
            <td>{{ result.error }}</td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
  </div>
  <div layout layout-align="center center">
    <md-button ng-click="newtonCtrl.toggleInfo()">Info</md-button>
  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="info">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Info</h1>
    </md-toolbar>
    <md-content class="md-padding" layout-padding>
      <p>
        The idea of the method is as follows: one starts with an initial guess which is
		reasonably close to the true root, then the function is approximated by its tangent
		line (which can be computed using the tools of calculus), and one computes the x-intercept
		of this tangent line (which is easily done with elementary algebra). This x-intercept will
		typically be a better approximation to the function's root than the original guess,
		and the method can be iterated.
      </p>
      <md-button ng-href="https://en.wikipedia.org/wiki/Newton%27s_method" target="_blank">
        Learn more
      </md-button>
      <md-button ng-click="newtonCtrl.closeInfo()" class="md-primary">
        Got it
      </md-button>
    </md-content>
  </md-sidenav>
</div>
